.primary {
  background-color: rgb(33, 150, 243);
  color: #ffff !important;
  border-radius: 6px;
}

.primarycolor {
  color: rgb(33, 150, 243);
}

.finance-nav {
  margin-bottom: 10px;
}
.bullet {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid #999;
}
.active_bullet {
  background-color: #0184ff;
  border: 1px solid #0184ff;
}
.active {
  color: #0184ff;
}
.divider {
  border-bottom: 1px solid #e7e7e7;
}


