.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.collapse {
  visibility: collapse
}

.static {
  position: static
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: -webkit-sticky;
  position: sticky
}

.top-0 {
  top: 0px
}

.right-0 {
  right: 0px
}

.right-\[1rem\] {
  right: 1rem
}

.isolate {
  isolation: isolate
}

.z-10 {
  z-index: 10
}

.float-left {
  float: left
}

.m-0 {
  margin: 0px
}

.m-4 {
  margin: 1rem
}

.m-2 {
  margin: 0.5rem
}

.m-\[4px\] {
  margin: 4px
}

.m-1 {
  margin: 0.25rem
}

.m-8 {
  margin: 2rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.my-\[8px\] {
  margin-top: 8px;
  margin-bottom: 8px
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.mx-\[2px\] {
  margin-left: 2px;
  margin-right: 2px
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-0 {
  margin-bottom: 0px
}

.ml-1 {
  margin-left: 0.25rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-1 {
  margin-top: 0.25rem
}

.ml-4 {
  margin-left: 1rem
}

.mt-4 {
  margin-top: 1rem
}

.mr-8 {
  margin-right: 2rem
}

.mt-\[10px\] {
  margin-top: 10px
}

.ml-3 {
  margin-left: 0.75rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mt-0 {
  margin-top: 0px
}

.ml-2 {
  margin-left: 0.5rem
}

.ml-0 {
  margin-left: 0px
}

.mb-3 {
  margin-bottom: 0.75rem
}

.ml-auto {
  margin-left: auto
}

.mt-\[21px\] {
  margin-top: 21px
}

.mt-\[-37px\] {
  margin-top: -37px
}

.mb-\[2px\] {
  margin-bottom: 2px
}

.mb-\[2x\] {
  margin-bottom: 2x
}

.ml-8 {
  margin-left: 2rem
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.h-\[60px\] {
  height: 60px
}

.h-\[30px\] {
  height: 30px
}

.h-8 {
  height: 2rem
}

.h-\[700px\] {
  height: 700px
}

.h-\[84px\] {
  height: 84px
}

.h-\[40px\] {
  height: 40px
}

.h-6 {
  height: 1.5rem
}

.h-\[640px\] {
  height: 640px
}

.h-full {
  height: 100%
}

.h-\[56px\] {
  height: 56px
}

.h-\[74px\] {
  height: 74px
}

.w-full {
  width: 100%
}

.w-\[30px\] {
  width: 30px
}

.w-\[500px\] {
  width: 500px
}

.w-\[84px\] {
  width: 84px
}

.w-\[60px\] {
  width: 60px
}

.w-8 {
  width: 2rem
}

.w-\[320px\] {
  width: 320px
}

.w-6 {
  width: 1.5rem
}

.min-w-0 {
  min-width: 0px
}

.max-w-full {
  max-width: 100%
}

.shrink-0 {
  flex-shrink: 0
}

.flex-grow-0 {
  flex-grow: 0
}

.rotate-90 {
  --tw-rotate: 90deg;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-pointer {
  cursor: pointer
}

.appearance-none {
  -webkit-appearance: none;
          appearance: none
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-y-hidden {
  overflow-y: hidden
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.text-ellipsis {
  text-overflow: ellipsis
}

.break-normal {
  overflow-wrap: normal;
  word-break: normal
}

.rounded {
  border-radius: 0.25rem
}

.rounded-\[4px\] {
  border-radius: 4px
}

.rounded-full {
  border-radius: 9999px
}

.rounded-\[6px\] {
  border-radius: 6px
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-t-md {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-\[1px\] {
  border-width: 1px
}

.border-\[2px\] {
  border-width: 2px
}

.border-t-\[1px\] {
  border-top-width: 1px
}

.border-solid {
  border-style: solid
}

.border-\[\#e4e8ec\] {
  --tw-border-opacity: 1;
  border-color: rgb(228 232 236 / var(--tw-border-opacity))
}

.border-\[\#4384F5\] {
  --tw-border-opacity: 1;
  border-color: rgb(67 132 245 / var(--tw-border-opacity))
}

.border-\[\#bcc6d0\] {
  --tw-border-opacity: 1;
  border-color: rgb(188 198 208 / var(--tw-border-opacity))
}

.border-\[\#757575\] {
  --tw-border-opacity: 1;
  border-color: rgb(117 117 117 / var(--tw-border-opacity))
}

.bg-\[\#2000F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(32 0 240 / var(--tw-bg-opacity))
}

.bg-\[\#6F0FFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(111 15 255 / var(--tw-bg-opacity))
}

.bg-\[\#DA3807\] {
  --tw-bg-opacity: 1;
  background-color: rgb(218 56 7 / var(--tw-bg-opacity))
}

.bg-\[\#0F8524\] {
  --tw-bg-opacity: 1;
  background-color: rgb(15 133 36 / var(--tw-bg-opacity))
}

.bg-\[\#00796B\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 121 107 / var(--tw-bg-opacity))
}

.bg-\[\#4384F5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(67 132 245 / var(--tw-bg-opacity))
}

.bg-\[\#e5e7eb\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-\[\#f8f8f8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity))
}

.p-0 {
  padding: 0px
}

.p-1 {
  padding: 0.25rem
}

.p-2 {
  padding: 0.5rem
}

.p-\[24px\] {
  padding: 24px
}

.p-\[16px\] {
  padding: 16px
}

.p-\[0\.5em\] {
  padding: 0.5em
}

.p-4 {
  padding: 1rem
}

.p-\[5px\] {
  padding: 5px
}

.p-\[1em\] {
  padding: 1em
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-\[16px\] {
  padding-left: 16px;
  padding-right: 16px
}

.py-\[17px\] {
  padding-top: 17px;
  padding-bottom: 17px
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px
}

.py-\[34px\] {
  padding-top: 34px;
  padding-bottom: 34px
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px
}

.px-\[0\.9em\] {
  padding-left: 0.9em;
  padding-right: 0.9em
}

.pt-2 {
  padding-top: 0.5rem
}

.pr-1 {
  padding-right: 0.25rem
}

.pr-2 {
  padding-right: 0.5rem
}

.pl-2 {
  padding-left: 0.5rem
}

.pt-\[6px\] {
  padding-top: 6px
}

.pl-1 {
  padding-left: 0.25rem
}

.pt-0 {
  padding-top: 0px
}

.pb-\[8px\] {
  padding-bottom: 8px
}

.pb-\[20px\] {
  padding-bottom: 20px
}

.pl-\[1\.25em\] {
  padding-left: 1.25em
}

.pr-\[7\.75em\] {
  padding-right: 7.75em
}

.pt-\[1\.25em\] {
  padding-top: 1.25em
}

.pb-\[1em\] {
  padding-bottom: 1em
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-start {
  text-align: start
}

.align-middle {
  vertical-align: middle
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[12px\] {
  font-size: 12px
}

.text-\[15px\] {
  font-size: 15px
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-\[14px\] {
  font-size: 14px
}

.text-\[0\.875rem\] {
  font-size: 0.875rem
}

.text-\[0\.8em\] {
  font-size: 0.8em
}

.font-\[600\] {
  font-weight: 600
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-\[700\] {
  font-weight: 700
}

.capitalize {
  text-transform: capitalize
}

.leading-8 {
  line-height: 2rem
}

.text-\[\#424D57\] {
  --tw-text-opacity: 1;
  color: rgb(66 77 87 / var(--tw-text-opacity))
}

.text-\[\#424D5780\] {
  color: #424D5780
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity))
}

.text-\[\#111111\] {
  --tw-text-opacity: 1;
  color: rgb(17 17 17 / var(--tw-text-opacity))
}

.text-\[\#707070\] {
  --tw-text-opacity: 1;
  color: rgb(112 112 112 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.outline {
  outline-style: solid
}

.drop-shadow-sm {
  --tw-drop-shadow: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.will-change-auto {
  will-change: auto
}

.visited\:border-\[\#4379D6\]:visited {
  border-color: rgb(67 121 214 )
}

.hover\:border-\[\#4379D6\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(67 121 214 / var(--tw-border-opacity))
}

.hover\:bg-\[\#f3f7f9\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 247 249 / var(--tw-bg-opacity))
}

.focus\:border-\[\#2000f0\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(32 0 240 / var(--tw-border-opacity))
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.dark .dark\:border-t-gray-700 {
  --tw-border-opacity: 1;
  border-top-color: rgb(51 65 85 / var(--tw-border-opacity))
}

.dark .dark\:bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity))
}

.dark .dark\:bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity))
}

.dark .dark\:text-gray-100 {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity))
}